version: "2"
services:
    web:
        build:
            context: .
            dockerfile: Dockerfile_node
        volumes: # Use this to mount app from local disk
            - ./:/usr/src/app
        ports:
            - "8080:8080"
            - "5858:5858"
        entrypoint: node --debug=5858 app.js
        links:
            - mongodb
    mongodb:
        image: mongo
        ports:
            - "27017:27017"
 # http://stackoverflow.com/questions/31210973/how-do-i-seed-a-mongo-database-using-docker-compose
 # Dummy container to seed mongo for creating dummyDb. seeds for every docker-compose
 # Might need volumes as shown below  to fix this hackish approach of seeding http://stackoverflow.com/questions/36407477/how-to-run-a-command-once-in-docker-compose
    # mongo-seed:
    #     build:
    #         context: .
    #         dockerfile: Dockerfile_mongo
    #     # build: ./mongo-seed
    #     links:
    #         - mongodb  
        # volumes:
        #     - mongodata:/data/db
    # mongodata:
    #     image: tianon/true
    #     volumes:
    #         - data/db
    #     command:
    #         echo 'Data container for Auth_MongoDb'